@import "../../index.scss";

.banner {
  display: flex;
  flex-direction: column;

  .info {
    .title {
      margin: 0;
      font-style: italic;
    }

    .description {
      margin: 0;
      margin-top: 0.8rem;
    }

    .logos {
      display: flex;
      align-items: center;

      > * {
        &:not(&:first-child) {
          margin-left: 1.6rem;
        }
      }

      img {
        display: block;
        max-height: 2rem;
        margin: 1.6rem 0;
      }

      .livePill {
        color: #91e691;
        border: 2px solid #91e691;
        border-radius: 0.4rem;
        padding: 0.3rem 0.6rem;
      }

      .aprPill {
        border: 2px solid;
        border-radius: 0.4rem;
        padding: 0.3rem 0.6rem;
      }
    }
  }

  .picture {
    display: block;
    max-width: 25rem;
  }

  @include lg {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.details {
  margin-top: 3.2rem;
  text-align: justify;
}
