.root {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    text-align: center;
    .rewards {
        font-size: 2rem;
        font-weight: bold;
    }

    button {
        background: black;
        color: white;
        font-size: 16px;
        text-decoration: none;
        border: 1px solid white;

        border-radius: .4rem;
        padding: 0.3rem 0.6rem;

        cursor: pointer;

        &:hover {
            color: black;
            background-color: white;
            border-color: black;
          }
      
        transition: all 0.1s;
    }
}