.root {
    color: white;
    background: black;
    padding: .2rem .4rem;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;

    img {
        height: 1.6rem;
        margin: 0 0.8rem;
    }
    
    a {
        color: white;
    }
}