.root {
  color: white;
  background: black;
  padding: 0.2rem 0.4rem;
  margin-bottom: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    color: white;

    .icon {
      height: 1.6rem;
      margin: 0 0.8rem;
    }
  }

  .right {
    display: flex;
    align-items: center;

    .navLink {
      color: white;
      text-decoration: underline;
    }

    > * {
      &:not(:first-child) {
        margin-left: 0.8rem;
      }
    }
  }
}
