@import "../../index.scss";

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    h2 {
        text-align: center;
        line-height: 2.5rem;
        max-width: 460px;
        margin: auto;     
    }

    img {
        max-height: 2rem;
        margin-bottom: -0.5rem;
    }

    .input {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        margin: 2rem 0;
        max-width: 553px;

        @include sm {
            min-width: 553px;
            margin: 2rem auto;
        }

        label {
            font-size: 0.8rem;
            margin-bottom: 0.2rem;
        }

        input {
            width: 100%;
            font-size: larger;
            border-radius: 0.4rem;
            border: 1px solid rgba(0, 0, 0, 0.2);
            font-family: "Roboto Mono", source-code-pro, Menlo, Monaco, Consolas,
                "Courier New", monospace;
        }

        @include sm {
            margin-top: 4rem;
        }
    }

    .error {
        margin: 12px auto 0;
        text-align: center;
    }

    .button {
        background: black;
        margin: 0;
        color: white;
        font-size: 16px;
        text-decoration: none;

        padding: 0.3rem 0.6rem;

        border: 2px solid white;
        border-radius: 0.4rem;
        white-space: nowrap;
        cursor: pointer;
        max-width: 120px;
        margin: 0 auto;

        &:hover {
            color: black;
            background-color: white;
            border-color: black;
        }

        transition: all 0.1s;
    }

    .rewardsBox {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 2rem 0 1rem;
        text-align: center;

        .rewards {
            margin: 1rem 0;
            font-size: 2rem;
            font-weight: bold;
        }

        .thanks {
            color: grey;
        }

        button {
            background: black;
            color: white;
            font-size: 16px;
            text-decoration: none;
            border: 1px solid white;

            border-radius: 0.4rem;
            padding: 0.3rem 0.6rem;

            cursor: pointer;

            &:hover {
                color: black;
                background-color: white;
                border-color: black;
            }

            transition: all 0.1s;
        }
    }
}