@import "../../index.scss";

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  h2 {
    text-align: center;
    line-height: 4rem;
    margin: 0 auto;
    font-size: 2.4rem;

    @include sm {
      max-width: 460px;
    }
  }

  img {
    max-height: 3rem;
    margin-bottom: -0.6rem;

    @include sm {
      max-height: 3.2rem;
      margin-bottom: -0.8rem;
    }
  }

  .input {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 2.4rem 0;

    @include sm {
      margin: 2.4rem auto;
    }

    input {
      border-radius: 0.4rem;
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-family: "Roboto Mono", source-code-pro, Menlo, Monaco, Consolas,
        "Courier New", monospace;

      &::placeholder {
        font-size: 1.6rem;
      }
    }

    @include xs {
      min-width: 40rem;
    }

    @include lg {
      min-width: 48rem;
    }
  }

  .error {
    margin: 12px auto 0;
    text-align: center;
  }

  .button {
    background: black;
    margin: 0;
    color: white;
    font-size: 16px;
    text-decoration: none;

    padding: 0.4rem 0.8rem;

    border: 2px solid white;
    border-radius: 0.8rem;
    white-space: nowrap;
    cursor: pointer;
    max-width: 12rem;
    margin: 0 auto;

    &:hover {
      color: black;
      background-color: white;
      border-color: black;
    }

    transition: all 0.1s;
  }

  .rewardsBox {
    margin: 2.4rem 0 1.2rem;
    text-align: center;

    .rewards {
      margin: 1.2rem 0;
      font-size: 2.4rem;
      font-weight: bold;
    }

    .apr {
      font-weight: bold;
    }

    .thanks {
      color: grey;
    }

    button {
      background: black;
      color: white;
      font-size: 16px;
      text-decoration: none;
      border: 1px solid white;

      border-radius: 0.4rem;
      padding: 0.3rem 0.6rem;

      cursor: pointer;

      &:hover {
        color: black;
        background-color: white;
        border-color: black;
      }

      transition: all 0.1s;
    }
  }
}
