*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Roboto Mono", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.3;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: white;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  margin: 0;

  -webkit-font-smoothing: antialiased;
}

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

@mixin xs() {
  @media screen and (min-width: $breakpoint-xs) {
    @content;
  }
}

@mixin sm() {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md() {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg() {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl() {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin xxl() {
  @media screen and (min-width: $breakpoint-xxl) {
    @content;
  }
}

.container {
  margin: auto;
  max-width: 1280px;
  padding: 0 2.4rem;

  @include lg {
    padding: 2.4rem 6.4rem;
  }
}